#### importing packages

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

from carriageway import Carriageway
from impact_factor import impact
from load import ll_A, ll_70R, ll_70RT
from reaction import find_bm, find_sf

# live load calculations

#### defining load (vehicles)
load pair contains pair (wheel position, wheel load)

In [11]:
vehicles = [ll_A, ll_70R, ll_70RT]
classA_pair, class70R, class70RT = [list(i.loadpair) for i in vehicles]
loads = [classA_pair, class70R, class70RT]

#### maxBM, maxSF at equal intervals
when each vehicles from the list of vehicles travels along the span, max reactions (BM and SF+/-) at equally divided intervals are calculated and stored in maxBMs, maxSFs_plus, maxSFs_minus.

In [67]:
span = 25

maxBMs = []
maxSFs_plus = []
maxSFs_minus = []
for i in range(len(loads)):
    maxBM = []
    maxSF_plus = []
    maxSF_minus = []
    for j in range(9):
        at = span / 8 * j
        first_wheel_at = 0
        step = 0.1

        BM = find_bm(span, 0, at)
        SF_plus = find_sf(span, 0, at)
        SF_minus = find_sf(span, 0, at)
        for k in range(int((span + loads[i][-1][0]) / step) + 2):  # '+2' to make sure the load moves all the way to
            # end until it has no effect
            bm = 0
            sf = 0
            for this in loads[i]:
                a, load = this
                pos = -a + first_wheel_at
                bm = bm + find_bm(span, pos, at) * load
                sf = sf + find_sf(span, pos, at) * load
            first_wheel_at += step
            BM = bm if bm > BM else BM
            SF_plus = sf if sf > SF_plus else SF_plus
            SF_minus = sf if sf < SF_minus else SF_minus
        maxBM.append(round(BM, 3))
        maxSF_plus.append(round(SF_plus, 3))
        maxSF_minus.append(round(SF_minus, 3))
    maxBMs.append(maxBM)
    maxSFs_plus.append(maxSF_plus)
    maxSFs_minus.append(maxSF_minus)

#### make a dataframe that contains maxBMs, maxSFs_plus, maxSFs_minus

In [68]:
A = ['MaxBM', 'MaxSF+', 'MaxSF-']
B = ['ClassA', 'Class70RW', 'Class70RT']

# A = ['ClassA', 'Class70RW', 'Class70RT']
# B = ['MaxBM', 'MaxSF+', 'MaxSF-']

iterables = [A, B]
index = pd.MultiIndex.from_product(iterables)

C = []

for i in [maxBMs, maxSFs_plus, maxSFs_minus]:
    C.extend(i)

# for i in range(len(loads)):
#     for j in [maxBMs, maxSFs_plus, maxSFs_minus]:
#         C.append(j[i])

df = pd.DataFrame(C, index=index, columns=[span / 8 * i for i in range(9)])
# print(df.loc[('ClassA', 'MaxSF-')])   ## you can navigate using loc, iloc

new_row = df.loc['MaxSF+'].where(df.loc['MaxSF+'] > abs(df.loc['MaxSF-']), abs(df.loc['MaxSF-']))

new_row.index = pd.MultiIndex.from_product([['MaxSF'], B])
df = pd.concat([df, new_row])

# df.to_excel('outputs/loads.xlsx') # uncomment to save as excel file

*how to read Excel file*

In [69]:
# df = pd.read_excel('outputs/loads.xlsx', index_col=[0, 1])

# ###get index names###
# A = df.index.get_level_values(0).drop_duplicates().to_list()
# B = df.index.get_level_values(1).drop_duplicates().to_list()
# print(A, B)

#### impact factor

In [70]:
IF = [impact(i.name, span) for i in vehicles]
IF

[0.14516129032258066, 0.14516129032258066, 0.1]

#### possible combinations for given carriageway width

In [71]:
cwWidth = 6
carriageway = Carriageway(cwWidth)
combinations = carriageway.combinations()
combination_val = [i.get_value() for i in combinations]

#### eccentricity calculation
a combination consists of multiple arrangements gives different eccentricities. maximum eccentricities for each combination is calculated.

In [72]:
list_combinations = []
list_max_e = []
list_plot = []
for i in combinations:
    list_combinations.append([i.classA, i.class70Rw, i.class70Rt])
    arrangements = i.arrangements()
    list_arrangements = []
    eccentricity = []
    max_e = 0
    for k in arrangements:
        if k.check_exceedance() * k.check_from_right() == 1:
            list_arrangements.append(k.veh)
            e = k.eccentricity()
            eccentricity.append(e)
            max_e = e if abs(e) > abs(max_e) else max_e
    list_max_e.append(max_e)

list_max_e

[-3.739698609263685e-16, -0.40500000000000025, -0.3500000000000001]

#### make a dataframe for combinations and their corresponding eccentricities

In [73]:
df1 = pd.DataFrame(list_combinations, columns=['ClassA', 'Class70Rw', 'Class70Rt'],
                  index=[f'comb{i + 1}' for i in range(len(list_combinations))])
df1['MaxEccentricity'] = list_max_e

*export eccentricity as excel file (uncomment)*

In [74]:
# df1.to_excel('outputs/max_e.xlsx')

#### total reactions for given combination
total reactions = sum of (maxreactions at mid span * impact factor * no. of that vehicles)

In [81]:
totalBMs = [(df.loc['MaxBM'][span/2]*IF).dot(combination_val[i]) for i in range(len(combinations))]
totalSFs = [(df.loc['MaxSF'][span/2]*IF).dot(combination_val[i]) for i in range(len(combinations))]
combination_val, totalBMs, totalSFs

([[2, 0, 0], [0, 1, 0], [0, 0, 1]],
 [607.0209677419355, 671.7193548387097, 396.70500000000004],
 [35.49716129032258, 43.24761290322581, 28.602])

In [77]:
df

                   0.000     3.125     6.250     9.375     12.500    15.625  \
MaxBM  ClassA       0.000   846.163  1471.075  1874.737  2090.850  2094.938
       Class70RW    0.000  2092.775  3514.550  4323.975  4627.400  4305.225
       Class70RT    0.000  1736.438  2978.275  3721.962  3967.050  3721.088
MaxSF+ ClassA     336.636   267.940   199.352   140.220    87.040    52.224
       Class70RW  791.048   667.048   543.048   419.048   297.928   180.840
       Class70RT  635.180   548.380   458.780   371.980   285.180   198.380
MaxSF- ClassA       0.000    -5.508   -24.060   -66.044  -122.268  -185.524
       Class70RW    0.000    -9.920   -34.048  -121.632  -244.952  -368.952
       Class70RT    0.000   -29.684  -109.620  -196.420  -286.020  -372.820
MaxSF  ClassA     336.636   267.940   199.352   140.220   122.268   185.524
       Class70RW  791.048   667.048   543.048   419.048   297.928   368.952
       Class70RT  635.180   548.380   458.780   371.980   286.020   372.820

                    18.750    21.875   25.000
MaxBM  ClassA     1729.325  1008.800    0.000
       Class70RW  3366.150  1936.175    0.000
       Class70RT  2977.925  1737.563    0.000
MaxSF+ ClassA       26.112     8.704    0.000
       Class70RW    89.896    32.844    0.000
       Class70RT   108.780    29.144    0.000
MaxSF- ClassA     -254.220  -321.728 -383.728
       Class70RW  -496.952  -618.392 -732.472
       Class70RT  -459.620  -546.420 -633.220
MaxSF  ClassA      254.220   321.728  383.728
       Class70RW   496.952   618.392  732.472
       Class70RT   459.620   546.420  633.220

In [78]:
df1['TotalBM'] = totalBMs
df1['TotalSF'] = totalSFs

In [79]:
df1

       ClassA  Class70Rw  Class70Rt  MaxEccentricity     TotalBM    TotalSF
comb1       2          0          0    -3.739699e-16  607.020968  35.497161
comb2       0          1          0    -4.050000e-01  671.719355  43.247613
comb3       0          0          1    -3.500000e-01  396.705000  28.602000